/*
*
* Base16 Catppuccin Macchiato
* Author: https://github.com/catppuccin/catppuccin
*
*/

@define-color base00 #24273a;
@define-color base01 #363a4f;
@define-color base02 #494d64;
@define-color base03 #6e738d;
@define-color base04 #a5adcb;
@define-color base05 #cad3f5;
@define-color base06 #f4dbd6;
@define-color base07 #b7bdf8;
@define-color base08 #ed8796;
@define-color base09 #f5a97f;
@define-color base0A #eed49f;
@define-color base0B #a6da95;
@define-color base0C #8bd5ca;
@define-color base0D #8aadf4;
@define-color base0E #c6a0f6;
@define-color base0F #f0c6c6;
