/*
*
* Base16 Flexoki Light
* Author: Steph Ango (https://github.com/kepano/flexoki)
*
*/

@define-color base00 #fffcf0;
@define-color base01 #f2f0e5;
@define-color base02 #e6e4d9;
@define-color base03 #cecdc3;
@define-color base04 #9f9d96;
@define-color base05 #403e3c;
@define-color base06 #282726;
@define-color base07 #100f0f;
@define-color base08 #af3029;
@define-color base09 #bc5215;
@define-color base0A #ad8301;
@define-color base0B #66800b;
@define-color base0C #24837b;
@define-color base0D #205ea6;
@define-color base0E #5e409d;
@define-color base0F #a02f6f;
