/*
*
* Base16 Ascendancy
* Author: EmergentMind (https://github.com/emergentmind/ascendancy-scheme)
*
*/

@define-color base00 #282828;
@define-color base01 #212f3d;
@define-color base02 #504945;
@define-color base03 #928374;
@define-color base04 #bdae93;
@define-color base05 #d5c7a1;
@define-color base06 #ebdbb2;
@define-color base07 #fbf1c7;
@define-color base08 #c03900;
@define-color base09 #fe8019;
@define-color base0A #ffcc1b;
@define-color base0B #b8bb26;
@define-color base0C #8f3f71;
@define-color base0D #458588;
@define-color base0E #fabd2f;
@define-color base0F #b59b4d;
