/*
*
* Base16 Heetch Light
* Author: Geoffrey Teale (tealeg@gmail.com), Tinted Theming (https://github.com/tinted-theming)
*
*/

@define-color base00 #feffff;
@define-color base01 #dedae2;
@define-color base02 #bdb6c5;
@define-color base03 #9c92a8;
@define-color base04 #7b6d8b;
@define-color base05 #5a496e;
@define-color base06 #392551;
@define-color base07 #190134;
@define-color base08 #f80059;
@define-color base09 #bd0152;
@define-color base0A #bd9701;
@define-color base0B #5bb66a;
@define-color base0C #47f9f5;
@define-color base0D #5ba2b6;
@define-color base0E #8f6c97;
@define-color base0F #58425d;
