/*
*
* Base16 Flexoki Dark
* Author: Steph Ango (https://github.com/kepano/flexoki)
*
*/

@define-color base00 #100f0f;
@define-color base01 #1c1b1a;
@define-color base02 #282726;
@define-color base03 #575653;
@define-color base04 #878580;
@define-color base05 #cecdc3;
@define-color base06 #e6e4d9;
@define-color base07 #fffcf0;
@define-color base08 #d14d41;
@define-color base09 #da702c;
@define-color base0A #d0a215;
@define-color base0B #879a39;
@define-color base0C #3aa99f;
@define-color base0D #4385be;
@define-color base0E #8b7ec8;
@define-color base0F #ce5d97;
