/*
*
* Base16 Cyberpunk
* Author: benjujo
*
*/

@define-color base00 #000000;
@define-color base01 #2b2b2b;
@define-color base02 #383838;
@define-color base03 #4f4f4f;
@define-color base04 #8b8989;
@define-color base05 #dcdccc;
@define-color base06 #f8f8f8;
@define-color base07 #ffffff;
@define-color base08 #ff0000;
@define-color base09 #ffa500;
@define-color base0A #ffff00;
@define-color base0B #61ce3c;
@define-color base0C #93e0e3;
@define-color base0D #4c83ff;
@define-color base0E #ff1493;
@define-color base0F #ff8c00;
