/*
*
* Base16 Yesterday Bright
* Author: FroZnShiva (https://github.com/FroZnShiva)
*
*/

@define-color base00 #343d46;
@define-color base01 #4f5b66;
@define-color base02 #65737e;
@define-color base03 #a7adba;
@define-color base04 #c0c5ce;
@define-color base05 #dfe1e8;
@define-color base06 #eff1f5;
@define-color base07 #ffffff;
@define-color base08 #d54e53;
@define-color base09 #e78c45;
@define-color base0A #e7c547;
@define-color base0B #b9ca4a;
@define-color base0C #70c0b1;
@define-color base0D #7aa6da;
@define-color base0E #c397d8;
@define-color base0F #9a806d;
