/*
*
* Base16 eris
* Author: ed (https://codeberg.org/ed), Tinted Theming (https://github.com/tinted-theming)
*
*/

@define-color base00 #0a0920;
@define-color base01 #13133a;
@define-color base02 #23255a;
@define-color base03 #333773;
@define-color base04 #4a5293;
@define-color base05 #606bac;
@define-color base06 #7986c5;
@define-color base07 #9aaae5;
@define-color base08 #f768a3;
@define-color base09 #f78968;
@define-color base0A #f7d668;
@define-color base0B #a2faa8;
@define-color base0C #a2faf0;
@define-color base0D #258fc4;
@define-color base0E #c368f7;
@define-color base0F #b85600;
