/*
*
* Base16 Eldritch
* Author: https://github.com/eldritch-theme
*
*/

@define-color base00 #212337;
@define-color base01 #323449;
@define-color base02 #3b4261;
@define-color base03 #7081d0;
@define-color base04 #a1abe0;
@define-color base05 #ebfafa;
@define-color base06 #f0f2f4;
@define-color base07 #ffffff;
@define-color base08 #f16c75;
@define-color base09 #f7c67f;
@define-color base0A #f1fc79;
@define-color base0B #37f499;
@define-color base0C #04d1f9;
@define-color base0D #39ddfd;
@define-color base0E #a48cf2;
@define-color base0F #f265b5;
