/*
*
* Base16 Kanagawa Dragon
* Author: Stefan Weigl-Bosker (https://github.com/sweiglbosker), Tommaso Laurenzi (https://github.com/rebelot/kanagawa.nvim)
*
*/

@define-color base00 #181616;
@define-color base01 #282727;
@define-color base02 #393836;
@define-color base03 #625e5a;
@define-color base04 #737c73;
@define-color base05 #c5c9c5;
@define-color base06 #c8c093;
@define-color base07 #c5c9c5;
@define-color base08 #c4746e;
@define-color base09 #b6927b;
@define-color base0A #c4b28a;
@define-color base0B #8a9a7b;
@define-color base0C #8ea4a2;
@define-color base0D #8ba4b0;
@define-color base0E #a292a3;
@define-color base0F #b98d7b;
