/*
*
* Base16 Charcoal Dark
* Author: Mubin Muhammad (https://github.com/mubin6th)
*
*/

@define-color base00 #0f0b05;
@define-color base01 #231b0e;
@define-color base02 #2a2012;
@define-color base03 #57462c;
@define-color base04 #a88c62;
@define-color base05 #c3a983;
@define-color base06 #dec8a7;
@define-color base07 #231b0e;
@define-color base08 #a88c62;
@define-color base09 #dec8a7;
@define-color base0A #dec8a7;
@define-color base0B #dec8a7;
@define-color base0C #dec8a7;
@define-color base0D #c3a983;
@define-color base0E #a88c62;
@define-color base0F #876e48;
