/*
*
* Base16 Still Alive
* Author: Derrick McKee (derrick.mckee@gmail.com), Tinted Theming (https://github.com/tinted-theming)
*
*/

@define-color base00 #f0f0f0;
@define-color base01 #d6d6d6;
@define-color base02 #bdbdbd;
@define-color base03 #a3a3a3;
@define-color base04 #605758;
@define-color base05 #4c383b;
@define-color base06 #331f21;
@define-color base07 #140c0d;
@define-color base08 #d80000;
@define-color base09 #f0d848;
@define-color base0A #fff018;
@define-color base0B #30a860;
@define-color base0C #36d3ff;
@define-color base0D #365eff;
@define-color base0E #9036ff;
@define-color base0F #140c0d;
