/*
*
* Base16 Yesterday Night
* Author: FroZnShiva (https://github.com/FroZnShiva)
*
*/

@define-color base00 #343d46;
@define-color base01 #4f5b66;
@define-color base02 #65737e;
@define-color base03 #a7adba;
@define-color base04 #c0c5ce;
@define-color base05 #dfe1e8;
@define-color base06 #eff1f5;
@define-color base07 #ffffff;
@define-color base08 #cc6666;
@define-color base09 #de935f;
@define-color base0A #f0c674;
@define-color base0B #b5bd68;
@define-color base0C #8abeb7;
@define-color base0D #81a2be;
@define-color base0E #b294bb;
@define-color base0F #a3685a;
