/*
*
* Base16 PaperColor Light
* Author: Jon Leopard (http://github.com/jonleopard), Tinted Theming (https://github.com/tinted-theming), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
*
*/

@define-color base00 #eeeeee;
@define-color base01 #c4c4c4;
@define-color base02 #9e9e9e;
@define-color base03 #858585;
@define-color base04 #6b6b6b;
@define-color base05 #5e5e5e;
@define-color base06 #525252;
@define-color base07 #444444;
@define-color base08 #d70000;
@define-color base09 #d75f00;
@define-color base0A #d75f00;
@define-color base0B #008700;
@define-color base0C #0087af;
@define-color base0D #005f87;
@define-color base0E #8700af;
@define-color base0F #af0000;
