/*
*
* Base16 Edge Dark
* Author: cjayross (https://github.com/cjayross), Tinted Theming (https://github.com/tinted-theming)
*
*/

@define-color base00 #262729;
@define-color base01 #313235;
@define-color base02 #3d3f42;
@define-color base03 #4a4c4f;
@define-color base04 #95989d;
@define-color base05 #afb2b5;
@define-color base06 #caccce;
@define-color base07 #e4e5e6;
@define-color base08 #e77171;
@define-color base09 #eba31a;
@define-color base0A #dbb774;
@define-color base0B #a1bf78;
@define-color base0C #5ebaa5;
@define-color base0D #73b3e7;
@define-color base0E #d390e7;
@define-color base0F #5ebaa5;
