/*
*
* Base16 Yesterday
* Author: FroZnShiva (https://github.com/FroZnShiva)
*
*/

@define-color base00 #1d1f21;
@define-color base01 #282a2e;
@define-color base02 #4d4d4c;
@define-color base03 #969896;
@define-color base04 #8e908c;
@define-color base05 #d6d6d6;
@define-color base06 #efefef;
@define-color base07 #ffffff;
@define-color base08 #c82829;
@define-color base09 #f5871f;
@define-color base0A #eab700;
@define-color base0B #718c00;
@define-color base0C #3e999f;
@define-color base0D #4271ae;
@define-color base0E #8959a8;
@define-color base0F #7f2a1d;
