/*
*
* Base16 Charcoal Light
* Author: Mubin Muhammad (https://github.com/mubin6th)
*
*/

@define-color base00 #cabda0;
@define-color base01 #bcad8c;
@define-color base02 #af9f7d;
@define-color base03 #645538;
@define-color base04 #110e06;
@define-color base05 #382e1b;
@define-color base06 #4b3e26;
@define-color base07 #bcad8c;
@define-color base08 #382e1b;
@define-color base09 #110e06;
@define-color base0A #110e06;
@define-color base0B #110e06;
@define-color base0C #110e06;
@define-color base0D #251e0f;
@define-color base0E #382e1b;
@define-color base0F #4b3e26;
