/*
*
* Base16 PaperColor Dark
* Author: Jon Leopard (http://github.com/jonleopard), Tinted Theming (https://github.com/tinted-theming), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)
*
*/

@define-color base00 #1c1c1c;
@define-color base01 #363636;
@define-color base02 #424242;
@define-color base03 #585858;
@define-color base04 #808080;
@define-color base05 #9e9e9e;
@define-color base06 #b8b8b8;
@define-color base07 #d0d0d0;
@define-color base08 #ff5faf;
@define-color base09 #d7af5f;
@define-color base0A #ffaf00;
@define-color base0B #5faf5f;
@define-color base0C #00afaf;
@define-color base0D #5fafd7;
@define-color base0E #af87d7;
@define-color base0F #af005f;
