/*
*
* Base16 Soft Server
* Author: FredHappyface (https://github.com/fredHappyface)
*
*/

@define-color base00 #211e2a;
@define-color base01 #2c2737;
@define-color base02 #3f3951;
@define-color base03 #6e6780;
@define-color base04 #8a829e;
@define-color base05 #e4dee9;
@define-color base06 #f2e8f0;
@define-color base07 #ffffff;
@define-color base08 #e965a5;
@define-color base09 #f4b870;
@define-color base0A #ebde76;
@define-color base0B #b1f2a7;
@define-color base0C #b3f4f3;
@define-color base0D #95a6f4;
@define-color base0E #ff79c6;
@define-color base0F #bd93f9;
