/*
*
* Base16 Edge Light
* Author: cjayross (https://github.com/cjayross), Tinted Theming (https://github.com/tinted-theming)
*
*/

@define-color base00 #fafafa;
@define-color base01 #e3e5e8;
@define-color base02 #acb1b9;
@define-color base03 #9197a1;
@define-color base04 #5e646f;
@define-color base05 #474752;
@define-color base06 #3a3a46;
@define-color base07 #2e2e38;
@define-color base08 #db7070;
@define-color base09 #eba31a;
@define-color base0A #ebcc1a;
@define-color base0B #7c9f4b;
@define-color base0C #509c93;
@define-color base0D #6587bf;
@define-color base0E #b870ce;
@define-color base0F #509c93;
